
.switch {
  display: flex;
  position: relative;
  background-color: rgba(49, 47, 47, 0.5);
  border-right: 2px solid black;
  width: 50px;
  height: 25px;
  border-radius: 2px;
}

.on,
.off,
.mountain {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.off {
  width: 30px;
  position: absolute;
  right: 0;
  background-color: rgb(21, 20, 20);
  border: 1px solid rgba(21, 20, 20, 0.63);
  border-left: 0.5px solid black;
  transform: perspective(250px) rotateY(-50deg);

}

.on {
  width: 23px;
  height: 93%;
  margin-block-start: 0.6px;
  position: absolute;
  left: 2px;
  background-color: rgba(251, 248, 241, 0.95);
  border: 1px solid rgba(21, 20, 20, 0.63);
  border-right: none;
  transform: perspective(250px) rotateY(-20deg);
}

.mountain {
  width: 15px;
  position: absolute;
  right: -4.5px;
  background-color: rgb(62, 59, 59);
  border: 1px solid rgba(21, 20, 20, 0.63);
  border-left: 0.5px solid black;
  height: 100%;
  transform: perspective(200px) rotateY(70deg);
}
